# ========== مكتبات طلبات HTTP ==========
requests
httpx
aiohttp

# ========== مكتبة Telegram ==========
telethon
# ========== معالجة الصور ==========
Pillow

# ========== معالجة الصوت ==========
mutagen

# ========== تحميل الفيديو والصوت ==========
yt-dlp

# ========== الترجمة ==========
googletrans
deep-translator

# ========== التوقيت والمناطق الزمنية ==========
pytz

# ========== متغيرات البيئة ==========
python-dotenv

# ========== مكتبة لمعالجة الصوت (بديل MoviePy) ==========
pydub

gitpython

psutil
